/*
Name: Roos Greven
11436700
Homework week 6: Linked views with d3.  
Stylesheet 
*/

body {
	margin-left: 30px;
}

svg {
	background-color: white;
}

h1 {
	color: rgb(115, 115, 115);
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bold;
	padding-bottom: 10px;

}

h2 {
	font:18px sans-serif;
}

h3 {
	color: rgb(115, 115, 115);
	font-size: 13px;
	font-family: sans-serif;
	font-weight: bold;
	margin-left: -10px;
	padding-bottom: 10px;

}

#container {
	float:left;
	width: 700px;
	clear: both;
}

#title {
	margin-left: 115px;
	margin-top: 10px;
	padding-bottom: 0px;
	text-align: left;
}
.displayValues {
	margin-left: 10px;
}

#linked {
	font-size: 25px;
	margin-top: 20px;
}

.forLegend {
	float: right;
	clear: both;
}

.forChart {
	display: inline-block;
	float:right;
	width: 500px;
	height: 400px;
}

.axis text {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	stroke-width: 1px;
}

.tooltip {
	position: absolute;
	pointer-events: none;
	font: 10px sans-serif;
	color: #fff;
	font-weight: bold;
	padding: 12px;
	background: black;	
	border: 0px;		
	border-radius: 2px;			
	pointer-events: none;	
	line-height: 1;
}

